#boiteBoite {
    display: flex;
    flex-wrap: wrap;
}

.boite {
    height: 100px;
    width: 100px;
    border: 4px ridge black;
}

.rouge {
    background-color: red;
}

.radius {
    border-radius: 25px;
}