@font-face {
    font-family: Ephesis;
    src: url(./fonts/Ephesis-Regular.ttf);
}

.lettre {
    height: 500px;
    width: 800px;
    border: 2px solid black;
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

.gauche {
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.droite {
    width: 300px;
    height: 500px;
    background-color: gray;
}

.gauchehaut {
    font-family: Ephesis;
    height: 450px;
    font-size: 1.6em;
    margin-left: 10px;
    border-right: 4px solid black;
}

.gauchebas {
    text-align: center;
}

.droitehaut {
    height: 150px;
    background-color: red;
    display: flex;
    justify-content: flex-end;
}

.droitebas {
    height: 300px;
    background-color: blue;
}

.tampon {
    height: 130px;
}

.obli {
    position: absolute;
    height: 130px;
    left: 640px;
    top: 57px;
}

.timbre {
    position: absolute;
    height: 130px;
}

.boitetimbre {
    height: 128px;
    width: 100px;
    margin-right: 18px;
    border: 2px solid black;
}

