.Fushia {
    color: fuchsia; /**Utilisation de la "class" fushia pour changer la couleur du paragraphe**/
}

/**Je modifie le curseur quand la souris passe dessus**/
#Animals:hover {
    cursor: pointer;
    text-decoration: underline;
}

/**séléction de tout les input "submit" et "reset"
input[type="submit"], input[type="reset"] {
    font-size: 1.3em;
    border-radius: 10px;
}
**/

p {
    color: blue;
}