.Fushia {
    color: fuchsia; /**Utilisation de la "class" fushia pour changer la couleur du paragraphe**/
}

/**Je modifie le curseur quand la souris passe dessus**/
#Animals:hover {
    cursor: pointer;
    text-decoration: underline;
}

/**séléction de tout les input "submit" et "reset"
input[type="submit"], input[type="reset"] {
    font-size: 1.3em;
    border-radius: 10px;
}
**/

p {
    color: blue;
}

.conteneur {
    background-color: black;
    height: 200px;
    width: 100%; /*prend tout la largeur de la page */
    display: flex; /* JE l'affiche en mode flex*/
    justify-content: space-between;
    align-items: center;
}

.rouge {
    background-color: red;
    width: 10%;
    height: 100px;
}

.vert {
    background-color: green;
    width: 10%;
    height: 100px;
}

.orange {
    background-color: orange;
    width: 10%;
    height: 100px;
}