.Fushia {
    color: fuchsia; /**Utilisation de la "class" fushia pour changer la couleur du paragraphe**/
}

tr, td, th, table {
    border: 2px solid black;
    border-radius: 5px;
}

tr td[colspan="2"] {
    text-align: center;
}

.gray ,.gray th, .gray td {
    border-color: rgb(0, 14, 173);
}

#union {
    border-collapse: collapse;
}

tr:nth-child(odd) { 
    background-color: gray;
}

#Animals:hover {
    cursor: pointer;
    text-decoration: underline;
}