section {
    display: flex;
    justify-content: center;
}

form {
    background-color: #0f0f0f;
    background-image: url("https://www.transparenttextures.com/patterns/maze-black.png");
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

input {
    outline: none;
    text-align: center;
    margin-top: 30px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    
    color: white;
    font-size: 4em;
    height: 100px;
    width: 550px;
    border-radius: 10px;
}

#numpad {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    width: 550px;

}

.button {
    color: white;
    border: 5px ridge black;
    font-size: 1.8em;
    font-weight: bolder;
    background-color: #1b1b1b;
    background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
    border-radius: 25px;
    height: 100px;
    width: 117px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
}