body {
    margin: 0;
    background-color: beige;
}
nav {
    background-color: rgb(94, 94, 187);
    top: 0; left: 0; right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
h1 {
    margin: 0;
    color: red;
}

a {
    color: black;
    text-decoration: none;
    margin: 0 50px;
    font-size: 20px;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toptext {
    width: 75%;
    margin: 50px 0;
    border: 2px dashed black;
}

#toptext p{
    font-size: 20px;
}

#sculpture {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#images {
    width: 50%;
    display: flex;
    align-items: center;
}

#topbox {
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.cube1 {
    width: 150px;
    height: 150px;
    background-color: rgb(156, 173, 189);
    border-top-right-radius: 25px;
    border: 2px solid black;
}

.cube2 {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
}

.cube3 {
    width: 150px;
    height: 150px;
    background-color: rgb(156, 173, 189);
    border: 2px solid black;
    transform: skew(-25deg, 0deg);
}

#middlebox{
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube4 {
    width: 300px;
    height: 150px;
    background-color: green;
    transform: rotate(10deg);
    border: 2px solid black;
}

#bottombox {
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.cube5 {
    width: 350px;
    height: 150px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 35px;
}

.cube6 {
    width: 350px;
    height: 150px;
    background-color: yellow;
    border: 2px solid black;
}

.img1 {
    height: 500px;
}

.img2 {
    height: 500px;
}

.img3 {
    height: 500px;
}